<header class="h-14 bg-gray-50 border-b border-gray-200 flex items-center fixed z-10 w-full top-0">
    <div class="container mx-auto w-full">
        <div class="flex flex-nowrap justify-between">
            <div class="flex-initial">
                <a href="/" class="text-lg font-heading font-medium text-gray-700">
                    <img src="{{ base.static }}images/brand.svg" alt="brand" class="inline-block mr-1 h-6">
                    Gulp Boilerplate
                </a>
            </div>
        </div>
    </div>
</header>